<div id="friends_list">
  <p>Friend's List</p>
  <ul>
    <li>Francisco</li>
    <li>Rafael</li>
    <% @user.relationships.each_with_index do |relationship| %>
    <li><%=User.find(relationship.inviter_id).name.capitalize%>
      <button class="btn-upload" type="submit" value="Let's get running!">Invite On a Run</button>
      <div class="open-create-run">
        <form action="/user/<%=@user.id%>/run/create" method="POST" class="create-run">
          <input type="text" name="run[time]" value=<%=Chronic.parse('tomorrow')%> class="time-text"><br>
          <input type="text" name="run[location]" placeholder="Location" class="location-text"><br><br>
          <input type="submit" value="Submit" class="submit-run">
        </form>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<div id="upcoming_runs">
  <p>Upcoming Runs</p>
    <ul>
      <li>12 pm on 9/24/14 at Central Park</li>
    </ul>
</div>

<div id="past_runs">
  <p>Past Runs</p>
    <ul>
      <li>6 pm on 9/23/14 at Battery Park</li>
    </ul>
</div>
