<div id="friends_list">
  <p>Friend's List</p>
  <ul>
    <li>Francisco</li>
    <li>Rafael</li>
    <% @user.relationships.each_with_index do |relationship| %>
    <li><%=User.find(relationship.inviter_id).name%></li>
    <% end %>
  </ul>
</div>

<div id="upcoming_runs">
  <p>Upcoming Runs</p>
    <ul>
      <li>12 pm on 9/24/14 at Central Park</li>
    </ul>
    <button id="btn-upload" type="submit" value="Let's get running!">Let's get running!</button>
      <br><form action="/user/<%=@user.id%>/run/create" method="POST" id="create-run">
        <input type="text" name="run[time]" placeholder="Time"><br>
        <input type="text" name="run[location]" placeholder="Location"><br><br>
        <input type="submit" value="Submit">
      </form>
    <!-- </button> -->
</div>

<div id="past_runs">
  <p>Past Runs</p>
    <ul>
      <li>6 pm on 9/23/14 at Battery Park</li>
    </ul>
</div>
